.orgAssignmentPanel>.sapMPanelContent {
	padding-bottom: 2.5rem;
}

.zSuccessIcon {
	color: green;
}

.zErrorIcon {
	color: gray;
}

.zWarningIcon {
	color: #f9a429;
}

.zDecisionLabel {
	color: #000000;
	font-size: 0.875rem;
	font-family: Arial,Helvetica,sans-serif;
	padding-top: 1rem;
}

.questionnaire-right-aligned {
	float: right;
	width: 100%;
}

.questionnaireRBG {
	padding-right: 1rem;
}

.questionnaireRBGLabel {
	line-height: 48px;	
	padding-left: 1rem;
	overflow: visible;
	overflow-wrap: normal;
}

.questionnaireLI {
	margin-top: 1em;
	border: 1px solid black;
}

.questionnaireCb {
	margin-right: 4rem;
}

.questionnaireAdditionalInfo {
	margin-left: 2rem;
}
